.contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bcd0d1;
    border: 5px solid #9cb0b1;
    border-radius: 10px;
    width: 152px;
    height: 180px;
    margin: 20px;
    padding: 10px;
}

.avatar {
    width: 40px;
    margin: 20px;
}

.delete-edit-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.delete-edit-btns img {
    width: 50px;
    margin: 10px;
    cursor: pointer;
}
